*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#conteudo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    background-color: #CCC;
}
header{
    height: 80px;
    background-color: #1a75ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
header div{
    font-size: 34px;
    text-align: center;
    text-shadow: 1px 1px 4px #33ff99;
    font-weight: 700;
}
header a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
#logo{
    width: 60px;
}
#sair{
    width: 35px;
}


main{
    min-height: calc(100vh - 50px - 80px - 8px);
}
#corpo{
    background-color: #33ff99;
    margin: 8px;
    padding: 10px 8px;
    border-radius: 15px;
    box-shadow: 0 0 15px #333;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a{
    display: block;
    font-size: 20px;
    padding: 8px 30px;
    text-decoration: none;
    text-align: center;
    color: #000;
    font-weight: 700;
    border-radius: 20px;
    background-color: #1a75ff;    
    border: 1px solid #444;
}
nav a:hover{
    box-shadow: 4px 4px 0px #1a75ff;
    /* background-color: rgba(26,117,255,0.4); */
    background-color: #33ff99;
    border: 1px solid #1a75ff;
}

footer{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a75ff;
}

@media screen and (max-width: 439px){

    nav a{
        padding: 8px 15px;
    }

}