#titulo{
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    padding: 40px 0;
}
#titulo div{
    width: 50%;
}
.frase{
    text-align: center;
    font-size: 22px;
    padding: 10px;
}
#ponto{
    text-align: center;
    font-size: 60px;
    font-weight: 700;
}

#botao a{
    display: block;
    margin: auto;
    width: 100%;
    max-width: 250px;
    font-size: 20px;
    padding: 8px 30px;
    text-decoration: none;
    text-align: center;
    color: #000;
    font-weight: 700;
    border-radius: 20px;
    background-color: #1a75ff;    
    border: 1px solid #444;
    margin-bottom: 30px;
}
#botao a:hover{
    box-shadow: 4px 4px 0px #1a75ff;
    /* background-color: rgba(26,117,255,0.4); */
    background-color: #33ff99;
    border: 1px solid #1a75ff;
}